body {
  background-color: #cddde8;
  font-family: sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/102/029/original/WhatsApp_Image_2023-10-26_at_12.21.46-removebg-preview.png?1698344566");
  background-size: 60%;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 36px;
}
h2 {
  margin: 0;
  font-size: 28px;
  line-height: 2;
}

#imgs {
  height: 12%;
}
select {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 22px;
  border-radius: 10px;
}

.container {
  background-color: #ddedf0;
  color: ffff;
  max-width: 580px;
  margin: 45px auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 11px 11px 46px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 11px 46px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 46px 0px rgba(0, 0, 0, 0.75);
  opacity: 73%;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 46px;
  font-weight: bold;
}
.time small {
  font-size: 26px;
  vertical-align: middle;
  line-height: 34px;
}
.date {
  opacity: 0.9;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
footer:hover {
  background-color: #ddedf0;
  transition: all 200ms ease-in-out;
}
